{# templates/accueil/index.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenue à {{ nom_village }}</h1>
    <p>Cette page est la page d'accueil de notre village.</p>
{% endblock %}
