{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Mon Village{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="{{ path('accueil') }}">Accueil</a></li>
                {# Ajoutez d'autres liens pour votre site web ici #}
            </ul>
        </nav>
        <main>
            {% block body %}{% endblock %}
        </main>
    </body>
</html>

